<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Social Bot</title>
  <link def rel="stylesheet" type="text/css" href="./style/index.css" />
  <link def rel="preconnect" href="https://fonts.googleapis.com" />
  <link def rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link def href="https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="header">
    <header class="title">Social Bot</header>
    <div class="space"></div>
    <a class="login" onclick="login()">Login</a>
    <a class="sing" href="/register">Sing up</a>
  </div>
</body>
<script>
  function login() {
    alert("login")
  }
  function sing() {
    alert("sing up")
  }
</script>
</html>