<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Social Bot</title>
  <link def rel="stylesheet" type="text/css" href="./style/login.css" />
  <link def rel="preconnect" href="https://fonts.googleapis.com" />
  <link def rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link def href="https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap" rel="stylesheet" />
</head>

<body>
  <div class="header">
    
  </div>
</body>
<script>
</script>
</html>